# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
b()
b()
b()
a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement

In [10]:
a = 0
def b():
 global a    # a is global scope
 a = c(a)
def c(a):
 return a + 2

In [11]:
b()

In [12]:
b()

In [13]:
b()

In [14]:
a

6

# First Step
a = 0
def b():   # b has a local scope
 global a    # a is global scope
 a = c(a)   # here, a = c(a) but a=0 so, c(a)=o
def c(a):   # c(a) = 0 print a+2 so 0+2 =2
 return a + 2
# when we run b() firsttime we can't get output because it is b() fuction but not print value but 'a' value is change from      0 to 2.

# second step 
a=2                  
def b():
global a
a = c(a)        # Here, a=2 so c(a) =2 
def c(a):        # c(a) return a + 2 so , 2+2 = 4
return a+2         # so now a = 4
# when we run b() secondtime we can't get output because it is b() fuction but not print value but 'a' value is change from     2 to 4

# Third step 
a=4
def b():
global a
a = c(a)        # Here, a=4 so c(a) =4 
def c(a):        # c(a) return a + 2 so , 4 + 2 = 6
return a+2         # so now a = 6
#when we run b() third time we can't get output because it is b() fuction but not print value, 'a' value is change from 4 to 6.


# When we run "a" , we get output 6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
fileLength('midterm.py')
284
fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
fileLength('midterm.py')
358
fileLength('idterm.py')
File idterm.py not found.

In [22]:

def filelength(filename):         # Define filelength function 
    file = open(filename,"r")  # open and read the file
    contents = file.read()       
    print(len(contents))     # print number of contents in file

In [23]:
filelength('problem2.ipynb')

694

In [24]:
filelength('roblem2.ipynb')

FileNotFoundError: [Errno 2] No such file or directory: 'roblem2.ipynb'

In [25]:
def filelength(filename):            # define filelength function 
    try:
        file = open(filename,"r")           # open and read file
        contents = file.read()
        print(len(contents))          #print number of contents in given file
    except:
        print("File " + filename + ' not found' +".")   # print message file "filename" not found.

In [26]:
filelength('problem2.ipynb')

694

In [27]:
filelength('problem3.ipynb')

File problem3.ipynb not found.

# Question 3
Write a class named Marsupial that can be used as shown below:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [52]:
class Marsupial:              # Define Class Marsupial 
    
    def _init_(self,x,y):
        self.dx = x
        self.dy = y
        
    def put_in_pouch(self,content):
        global items                              #  global variable items
        items.append(content)
    def pouch_contents(self):
        print(items)
            
                
class Kangaroo(Marsupial):       #Define class Kangaroo
            
    def __init__(self,x,y):
        super()._init_(x,y)
        
    def jump(self,x,y):
        super()._init_(self.dx+x,self.dy+y)
        
               
    def __str__(self):
        return"I am a kangaroo located at coordinates("+str(self.dx)+","+str(self.dy)+")"
                   
items = []

In [53]:
m = Marsupial()

In [54]:
m.put_in_pouch('doll')

In [55]:
m.put_in_pouch('firetruck')

In [56]:
m.put_in_pouch('kitten')

In [57]:
 m.pouch_contents()

['doll', 'firetruck', 'kitten']

### a)

In [58]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates(0,0)

### b)

In [59]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

### c)

In [47]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates(3,0)

# Question 4
Implement a new GUI class App that combines user-defined tkinter widget classes
Calculator and Mortgage displayed below: (This question can be done using a
.py file)

In [24]:
import tkinter                  #import library
window = tkinter.Tk()           
window.title("tk")                  # window title is tk

tkinter.Label(window,text= "Loan Amount:").grid(row=1)        # laon amount window number on row 1 column1
tkinter.Entry(window).grid(row= 1,column =1)

tkinter.Label(window,text= "Interest Rate:").grid(row=2)      # Interest rate window number on row 2 column1
tkinter.Entry(window).grid(row= 2,column =1)

tkinter.Label(window,text= "Loan terms:").grid(row=3)         # Loan terms window number on row 3 and column1 
tkinter.Entry(window).grid(row= 3,column =1)

tkinter.Label(window,text= "Compute Mortgage").grid(row=4)    # Compute mortgage window on row 4 and column1 
tkinter.Entry(window).grid(row= 4,column =1)

window.mainloop()

In [20]:
from tkinter import Tk, Label, RAISED # Import Tk library

root = Tk() 
root.title("tk")
root.geometry("500x250")             # Dimension of calculator
        
labels = [['MC','M+','M-','MR'],     # labels make it shown as gui 
          ['C ','âˆš ','x2','+ '],     
          ['7 ','8 ','9 ','- '],
          ['4 ','5 ','6 ','* '],
          ['1 ','2 ','3 ','/ '],
          ['0 ','. ','+-','= ']]

for r in range(6):                             # range of row 6
    for c in range(4):                         # range of column 4
        # create label for row r and column c
        label = Label(root,
                      relief=RAISED,      
                      padx=24,            
                      text=labels[r][c])
        # place label in row r and column c
        label.grid(row=r, column=c)
       
        
        
root.mainloop()

# Question 5
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  odd
    Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
 collatz(1)
1
 collatz(10)
10
5
16
8
4
2
1

In [1]:
def collatz(n):         #Define collatz function 

    #print value of n
    print(n)
    if n==1:      
        return 
    elif n%2==0:
        return collatz(n//2)  #call method recursively for even
    else:
        return collatz(n*3+1)  #call method recursively for odd

In [2]:
collatz(1)

1

In [3]:
collatz(10)

10
5
16
8
4
2
1

# Question 6
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [33]:
  
def bin(number):                 # Define bin Function to convert decimal to  binary number
      
    if (number > 1):             # condition for decimal 
        bin(number >> 1)          
    print(number & 1, end = "")    #print binary number '1' and '0'

In [34]:
bin(0)

0

In [35]:
bin(1)

1

In [36]:
bin(3)

11

In [37]:
bin(9)

1001

# Question 7
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class shouldprint the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [3]:
from html.parser import HTMLParser                 # Imprt library HTMLParser
class HeadingParser(HTMLParser):                   # define class 'HeadingParser'
    def __init__(self):
        HTMLParser.__init__(self)
        self.heading1 = 0
        self.heading2 = 0
        self.data = []
    def handle_starttag(self, tag, attributes):       # define handle starttag function
        if tag == 'h1' :                               # for heading h1 tag
            self.heading1 = 1
            self.heading2 = 0
        elif tag == 'h2':                               #for heading h2 tag
            self.heading2 = 1
            self.heading1 = 0
        else :
            self.heading1 = 0
            self.heading2 = 0

    
    def handle_data(self, data):               # Define handle data function of heading1 and heading2
        if self.heading1:
            self.heading1 = 0
            self.data.append(data)
        elif self.heading2:
            self.heading2 = 0
            self.data.append("    "+data)

In [4]:
headingParser = HeadingParser()
infile = open('C:/Users/shahb/Desktop/w3c.html')                     # open file
content=infile.read()                           # read content of file 
infile.close()
headingParser.feed(content)               # class headingParser content feed and read 
for tag in headingParser.data:            # Get output of headings in file
    print(tag)

W3C Mission
    Principles

# Question 8
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [15]:
from urllib.request import urlopen                 # Import library 
def webdir(url):                                    # define web dir function 
    
    print('\n\nVisiting', url)                        # url link as string for testing

    
    contains = urlopen(url).read().decode()            # obtain links in the web page
    collector = Collector(url)
    collector.feed(contains)                          # URl contains
    urls = collector.getLinks()                      # get list of links

    # compute word frequencies
    contains = collector.getData()
    freq = frequency(contains)                        # frequncy of content on url links

    
    print('\n{:50} {:10} {:10}'.format('URL', 'word', 'count'))     # print the frequency of every text data word in web page
    for word in freq:
        print('{:50} {:10} {:10}'.format(url, word, freq[word]))

    
    print('\n{:50} {:10}'.format('URL', 'link'))               # print the http links found in web page
    for link in urls:
        print('{:50} {:10}'.format(url, link))               # return url and frequencies of number

    return urls

In [23]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html')

Visiting http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

HTTPError: HTTP Error 404:

# Question 9
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [60]:
import sqlite3

In [ ]:
# For using various Supportive command

In [61]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [ ]:
#Always start up sql with this simple command

In [63]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
#Enter this command to Commence Coding

In [64]:
%sql sqlite://

'Connected: @None'

In [65]:
#Create Database and insert values

In [66]:
%%sql

CREATE TABLE WeatherReport(City varchar(50),Country varchar(50),Season varchar(50), TemperatureC INT, Rainfallmm INT);
INSERT INTO WeatherReport VALUES('Mumbai','India', 'Winter', '24.8', '5.9');
INSERT INTO WeatherReport VALUES('Mumbai','India','Spring', '28.4','16.2');
INSERT INTO WeatherReport VALUES('Mumbai','India','Summer', '27.9', '1549.4');
INSERT INTO WeatherReport VALUES('Mumbai','India', 'Fall', '27.6' ,'346.0');
INSERT INTO WeatherReport VALUES('London','United Kingdom', 'Winter','4.2','207.7');
INSERT INTO WeatherReport VALUES('London' ,'United Kingdom' ,'Spring' ,'8.3' ,'169.6' );
INSERT INTO WeatherReport VALUES('London','United Kingdom', 'Summer','15.7', '157.0' );
INSERT INTO WeatherReport VALUES('London' ,'United Kingdom' ,'Fall' ,'10.4' ,'218.5' );
INSERT INTO WeatherReport VALUES('Cairo' ,'Egypt', 'Winter', '13.6', '16.5' );
INSERT INTO WeatherReport VALUES('Cairo' ,'Egypt' ,'Spring' ,'20.7' ,'6.5' );
INSERT INTO WeatherReport VALUES('Cairo', 'Egypt', 'Summer','27.7','0.1' );
INSERT INTO WeatherReport VALUES('Cairo' ,'Egypt' ,'Fall' ,'22.2' ,'4.5');

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
# Select a particular Table from Database

In [67]:
%%sql
SELECT * FROM WeatherReport;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### (A) All the temperature data

In [68]:
%%sql                                                       #select function for particular column from database
SELECT TemperatureC FROM WeatherReport;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### (B)  All the cities, but without repetition

In [69]:
%%sql                                                               # select function to find  city in database
SELECT City FROM WeatherReport GROUP BY City;

 * sqlite://
Done.

[('Cairo',), ('London',), ('Mumbai',)]

### (C) All the records for India

In [70]:
%%sql
SELECT * FROM WeatherReport                               # select and where function to get particular data
WHERE Country ='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

### (D) All the Fall records

In [71]:
%%sql
SELECT * FROM WeatherReport                          # select, from and where function to get data of fall season
WHERE Season = "Fall";

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### (E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [72]:
%%sql
SELECT City,Country,Season FROM WeatherReport                    # use select, where and from function for particular range
WHERE Rainfallmm BETWEEN 200 AND 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

### (F)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [73]:
%%sql
SELECT City, Country FROM WeatherReport
WHERE TemperatureC >20
ORDER BY TemperatureC;                                  # Order by function use to arrange the data according temperature

 * sqlite://
Done.

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

### (G)The total annual rainfall for Cairo.

In [74]:
%%sql
SELECT SUM(Rainfallmm) FROM WeatherReport              #using select and sum function for rainfall data of cairo city
WHERE City= 'Cairo'

 * sqlite://
Done.

[(27.6,)]

### (H)The total rainfall for each season.

In [75]:
%%sql
SELECT SEASON , SUM(Rainfallmm) FROM WeatherReport Group by Season    # sum function for total rainfall by particular season

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 10
. Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [76]:
 words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
[word.upper() for word in words]             # using upper function for capital letter

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [77]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
[word.lower() for word in words]        # using lower function for small letter

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in listwords).

In [78]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
[len(word) for word in words]          # using len function for count of letter in paricular word

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### d)[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of listwords, where each list contains the word in uppercase and lowercase and thelength of the word.)

In [79]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
[[word.upper(),word.lower(),len(word)] for word in words]   # using upper,lower and len function

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or morecharacters.)

In [80]:
[word for word  in words if len(word) >=4]         # usinf len function with '>' condition

['quick', 'brown', 'jumps', 'over', 'lazy']